menu {
    height: 60px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 20px;
}

#mobile-menu {
    display: none;
}
menu a {
    text-decoration: none;
    color: black;
    font-size: 13px;
}

menu a:hover {
    text-decoration: underline;
}

menu div {
    padding: 12px 13px;
    border-radius: 50%;
}

menu div:hover {
    background-color: #3c404314;
    cursor: pointer;
}

menu img {
    width: 18px;
    height: 18px;
}

menu:last-child {
    margin-right: 20px;
}

#signin {
    text-decoration: none;
    background-color: #1a73e8;
    color: white;
    padding: 12px 28px;
    border-radius: 5px;
    font-size: 14px;
    font-family: 'Helvitica', sans-serif;
    font-weight: 500;
}

#signin:hover{
    background-color: #1b66c9;
}

main {
    width: 100%;
    height: calc(100vh - 160px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#main-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 110px;
    gap: 25px;
}

#main-container img {
    width: 272px;
    height: auto;
}

#main-container form {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#input-section {
    display: flex;
    align-items: center;
    border: 1px solid #dadce0;
    width: 582px;
    height: 50px;
    margin-bottom: 20px;
    border-radius: 25px;
}

#input-section:hover {
    outline: 3px solid rgb(243, 243, 243);
}

#input-section .material-symbols-outlined {
    color: #9e9e9e;
    font-size: 20px;
    padding: 0 15px;
}

#input-section input { 
    width: 100%;
    height: 80%;
    border: none;
}

#input-section input:focus {
    outline: none;
}

#input-section img {
    width: 30px;
    height: 30px;
    margin-right: 10px;
}

#input-section img:hover {
    cursor: pointer;
}

#search-buttons button {
    padding: 10px 15px;
    border: 1px solid transparent;
    color: #4d5156;
    border-radius: 5px;
    background-color: #f8f9fa;
    cursor: pointer;
    font-size: 1rem;
}

#search-buttons button:hover {
    border-color: #dadce0;
}

#search-buttons button:first-child {
    margin-right: 10px;
}

#languages {
    margin-top: 10px;
}

#languages span {
    font-size: 13px;
    color: #4d5156;
}

#languages a {
    color: #1A0DAB;
    text-decoration: none;
}

#languages a:hover {
    text-decoration: underline;
}

footer {
    position: absolute;
    bottom: 0;
    background-color: #f2f2f2;
    width: 100%;
    height: 100px;
}

footer div {
    height: 50%;
}

#footer-container-1 {
    border-bottom: 1px solid #dadce0;
    display: flex;
    align-items: center;
}

#footer-container-1 span {
    margin-left: 30px;
    color: #646a6c;
    font-size: 15px;
}

#footer-container-2 {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer-menu {
    display: flex;
    align-items: center;
}

.footer-menu a {
    text-decoration: none;
    color: #646a6c;
    margin-right: 20px;
}

.footer-menu:first-child {
    margin-left: 20px;
}

.footer-menu a:hover {
    text-decoration: underline;
}

#watermark {
    position: fixed;
    font-size: 2.5rem;
    color: #e9e9e9;
    font-weight: 700;
    right: 15px;
    bottom: 250px;
}

@media all and (width <= 1200px) {
    #footer-container-2 {
        justify-content: space-around;
    }
}

@media all and (width <= 992px) {
    #input-section {
        width: 58.67%;
    }
}

@media all and (width <= 768px) {
    #input-section {
        width: 90%;
    }
}

@media all and (width <= 576px) {
    #mobile-menu {
        display: flex;
        justify-content: space-between;
    }

    #mobile-menu-section-1 {
        display: flex;
        align-items: center;
        
    }

    .menu-child {
        padding: 0 15px;
    }

    #hamburg {
        margin-left: 0;
    }

    #desktop-menu {
        display: none;
    }

    #mobile-menu-section-1 .active {
        padding: 10px 15px;
        color: #8AB4F8;
        border-bottom: 2px solid #8AB4F8;
    }

}

@media all and (prefers-color-scheme: dark) {

    menu a {
        color: white;
    }

    menu div:hover {
        background-color: #303134;
    }

    #signin {
        background-color: #93BAF9;
        color: #202124;
    }

    #signin:hover {
        background-color: #97bfff;
    }

    #input-section {
        border: 1px solid #5F6368;
        outline: none;
        
    }
    
    #input-section:hover {
        background-color: #303134;
        border-color: #202124;
        outline: none;
    }
    
    #input-section .material-symbols-outlined {
        color: #9AA0A6;
        font-size: 20px;
        padding: 0 15px;
    }

    #input-section input {
        background-color: #202124;
        color: white;
    }

    #input-section input:hover,
    #input-section:hover input {
        background-color: #303134;
    }

    #watermark {
        color: #4d4d4d;
        opacity: 30%;
    }

    #search-buttons button {
        color: #E8EAED;
        background-color: #303134;
    }

    #search-buttons button:hover {
        border-color: #5F6368;
    }

    #languages a {
        color: #8AB4F8;
    }

    #languages span {
        color: #9AA0A6;
    }

    footer {
        background-color: #171717;
    }

    #footer-container-1 span,
    .footer-menu a {
        color: #9AA0A6;
    }

    #footer-container-1 {
        border-bottom: 1px solid #3C4043;
    }

    #hamburg {
        color: white;
        font-size: 2rem;
    }
    
}