menu {
    height: 60px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 20px;
}
menu a {
    text-decoration: none;
    color: black;
}

menu a:hover {
    text-decoration: underline;
}

menu div {
    padding: 12px 13px;
    border-radius: 50%;
}

menu div:hover {
    background-color: #3c404314;
    cursor: pointer;
}

menu img {
    width: 19px;
    height: 19px;
}

menu:last-child {
    margin-right: 20px;
}

#signin {
    text-decoration: none;
    background-color: #1a73e8;
    color: white;
    padding: 13px 30px;
    border-radius: 5px;
    font-size: 14px;
    font-family: 'Helvitica', sans-serif;
    font-weight: 500;
}

#signin:hover{
    background-color: #1b66c9;
}