* {
    box-sizing: border-box;
}

.light-mode {
    display: block;
}

.dark-mode {
    display: none;
}

.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 24
}

html {
    font-size: 14px;
}
body {
    font-family: Arial, sans-serif;
    font-weight: 400;
}

@media all and (prefers-color-scheme: dark) {
    :root {
        background-color: #202124;
    }

    .light-mode {
        display: none;
    }

    .dark-mode {
        display: block;
    }

} 